use dns::error::IdentifierError;

#[repr({{reptype}})]
#[deriving(PartialEq,Show)]
pub enum {{ type_name }} {
	{% if variants %}
	{% for variant in variants -%}
	{{ variant.name_justified }} = {{ variant.value }},
	{% endfor %}
	{% endif %}
	{% if ranges %}
	{% for cur_range in ranges -%}
	{{ cur_range.name_justified }} = {{ cur_range.value }},
	{% endfor %}
	{% endif %}
}

impl {{ type_name }} {
	pub fn from_{{ reptype }}(value: {{ reptype }}) ->  Result<{{ type_name }}, IdentifierError> {
		
	}
}